.footnote {
  border: 1px solid {{constants.mutedtextcolor}};
  border-radius: 1em;
  color: {{constants.text_color}};
  display: inline;
  font-size: .75em;
  font-weight: 700;
  padding: 0 .75em;
  text-decoration: none;
  margin: 0 .25em;
}

.footnote:hover, .footnote:focus {
  background: {{constants.brandcolor}};
  border-color: {{constants.brandcolor}};
}


.footnotes::before {
  content: '';
  {% include "sass/divider.mixin" %}
  margin: 4em auto;
}

.footnotes {
  margin-bottom: 4em;
}

.footnotes li {
  margin-bottom: 1em;
}

.reversefootnote {
  font-size: .75em;
  opacity: .75;
}