#search {
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

#search__input {
  background: transparent;
  border: 0;
  font: 1em {{constants.font_family}};
  padding: .5em;
  color: {{constants.text_color}};
  text-align: center;
}

#search__input:focus {
  outline: 1px dashed {{constants.text_color}};
}


#search button[type="submit"] {
  display: none;
}

::-webkit-input-placeholder {
  color: {{constants.mutedtextcolor}};
}
::-moz-placeholder {
  color: {{constants.mutedtextcolor}};
}
:-ms-input-placeholder {
  color: {{constants.mutedtextcolor}};
}
:-moz-placeholder {
  color: {{constants.mutedtextcolor}};
}